{% extends 'base.html' %}

{% block content %}

{% for title in search %}
    {% if form['title'] == post['title'] %}
    <article class="post">
        <header>
            <div>
                <h1>{{ post['title'] }}</h1>
                <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%d %B, %Y, %I%p') }}</div>
            </div>
        </header>
        <p class="body">{{ post['body'] }}</p>
    </article>
    {% else %}
        <strong>Post doesn't exist.</strong>
    {% endif %}
{% endfor %}

{% endblock %}